<app-modeling-template [title]="'::MENU_DataIntegrationSetting'" [data]="data" [objectType]="'DataIntegrationSetting'"
  [copyPrefix]="'::LABEL_NewDataIntegrationSetting'"
  [permissions]="{create: 'DataIntegrationSetting.Create', edit: 'DataIntegrationSetting.Edit', delete: 'DataIntegrationSetting.Delete', copy: 'DataIntegrationSetting.Copy', import: 'DataIntegrationSetting.Import', export: 'DataIntegrationSetting.Export'}"
  [columns]="columns" [list]="list" [hasLastUpdate]="true" (copyData)="copy($event, edit.bind(this))" (multiDelete)="multiDelete($event)"
  (dataAdd)="add()" (dataEdit)="edit($event)" (dataDelete)="delete($event)" (export)="export($event)" (exportAll)="exportAll($event)"
  (import)="import($event)" (dataViewHistory)="viewHistory($event)" [placeholder]="'::LABEL_SearchName' | abpLocalization">
</app-modeling-template>

<abp-modal [(visible)]="isModalVisible" [busy]="modalBusy" [options]="{centered: true, size: 'lg'}">
  <ng-template #abpHeader>
    <h3>{{ (selected?.id ? '::Edit' : '::Create') | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    @if (dataIntegrationSettingForm) {
    <form [formGroup]="dataIntegrationSettingForm" (ngSubmit)="save()">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button"
            role="tab" aria-controls="general" aria-selected="true">
            {{ '::General' | abpLocalization }}
          </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
          <div class="row">
            <div class="col col-6">
              <div class="form-group mb-2">
                <label for="data-integration-setting-name" [title]="'::INFO_Name' | abpLocalization">{{'::Name'|abpLocalization}}</label><span> * </span>
                <input type="text" id="data-integration-setting-name" class="form-control" formControlName="name"
                  autofocus
                  (input)="dataIntegrationSettingForm.controls['displayName'].setValue($event.target.value)"/>
              </div>
            </div>
            <div class="col col-6">
              <div class="form-group mb-2">
                <label for="data-integration-setting-displayName" [title]="'::INFO_DisplayName' | abpLocalization">{{'::DisplayName'|abpLocalization}}</label><span> *
                </span>
                <input type="text" id="data-integration-setting-displayName" class="form-control"
                  formControlName="displayName" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-6">
              <div class="form-group mb-2">
                <label for="data-integration-setting-description" [title]="'::INFO_Description' | abpLocalization">{{'::Description'|abpLocalization}}</label>
                <input type="text" id="data-integration-setting-description" class="form-control"
                  formControlName="description" />
              </div>
            </div>
            <div class="col col-6">
              <div class="form-group mb-2">
                <label for="data-integration-setting-databaseName" [title]="'::INFO_DatabaseName' | abpLocalization">{{'::LABEL_DatabaseName'|abpLocalization}}</label>
                <input type="text" id="data-integration-setting-databaseName" class="form-control"
                  formControlName="databaseName" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-6">
              <div class="form-group mb-2">
                <label
                  for="data-integration-setting-productionQtyDataMethod" [title]="'::INFO_ProductionQtyDataMethod' | abpLocalization">{{'::LABEL_ProductionQtyDataMethod'|abpLocalization}}</label>
                <select class="form-select" formControlName="productionQtyDataMethod">
                  <option value="Database">Database</option>
                  <option value="Event">Event</option>
                  <option value="Manual">Manual</option>
                </select>
              </div>
            </div>
            <div class="col col-6" *ngIf="dataIntegrationSettingForm.get('productionQtyDataMethod').value === 'Database'">
              <div class="form-group mb-2">
                <label
                  for="data-integration-setting-goodQtyStoredProc" [title]="'::INFO_GoodQSP' | abpLocalization">{{'::LABEL_GoodQSP'|abpLocalization}}</label>
                <input type="text" id="data-integration-setting-goodQtyStoredProc" class="form-control"
                  formControlName="goodQtyStoredProc" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-6">
              <div class="form-group mb-2">
                <label
                  for="data-integration-setting-scrapQtyDataMethod" [title]="'::INFO_ScrapQtyDataMethod' | abpLocalization">{{'::LABEL_ScrapQtyDataMethod'|abpLocalization}}</label>
                <select class="form-select" formControlName="scrapQtyDataMethod">
                  <option value="Database">Database</option>
                  <option value="Event">Event</option>
                  <option value="Manual">Manual</option>
                </select>
              </div>
            </div>
            <div class="col col-6" *ngIf="dataIntegrationSettingForm.get('scrapQtyDataMethod').value === 'Database'">
              <div class="form-group mb-2">
                <label for="data-integration-setting-scrapQtyStoredProc" [title]="'::INFO_ScrapQDSP' | abpLocalization">{{'::LABEL_ScrapQDSP'|abpLocalization}}</label>
                <input type="text" id="data-integration-setting-scrapQtyStoredProc" class="form-control"
                  formControlName="scrapQtyStoredProc" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-6">
              <div class="form-group mb-2">
                <label
                  for="data-integration-setting-reworkQtyDataMethod" [title]="'::INFO_ReworkQtyDataMethod' | abpLocalization">{{'::LABEL_ReworkQtyDataMethod'|abpLocalization}}</label>
                <select class="form-select" formControlName="reworkQtyDataMethod">
                  <option value="Database">Database</option>
                  <option value="Event">Event</option>
                  <option value="Manual">Manual</option>
                </select>
              </div>
            </div>
            <div class="col col-6" *ngIf="dataIntegrationSettingForm.get('reworkQtyDataMethod').value === 'Database'">
              <div class="form-group mb-2">
                <label
                  for="data-integration-setting-reworkQtyStoredProc" [title]="'::INFO_ReworkQDSP' | abpLocalization">{{'::LABEL_ReworkQDSP'|abpLocalization}}</label>
                <input type="text" id="data-integration-setting-reworkQtyStoredProc" class="form-control"
                  formControlName="reworkQtyStoredProc" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-6">
              <div class="form-group mb-2">
                <label
                  for="data-integration-setting-downtimeDataMethod" [title]="'::INFO_DowntimeDataMethod' | abpLocalization">{{'::LABEL_DowntimeDataMethod'|abpLocalization}}</label>
                <select class="form-select" formControlName="downtimeDataMethod">
                  <option value="Database">Database</option>
                  <option value="Event">Event</option>
                  <option value="Manual">Manual</option>
                </select>
              </div>
            </div>
            <div class="col col-6" *ngIf="dataIntegrationSettingForm.get('downtimeDataMethod').value === 'Database'">
              <div class="form-group mb-2">
                <label
                  for="data-integration-setting-downtimeStoredProc" [title]="'::INFO_DowntimeDSP' | abpLocalization">{{'::LABEL_DowntimeDSP'|abpLocalization}}</label>
                <input type="text" id="data-integration-setting-downtimeStoredProc" class="form-control"
                  formControlName="downtimeStoredProc" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-6">
              <div class="form-group mb-2">
                <label
                  for="data-integration-setting-breaktimeDataMethod" [title]="'::INFO_BreaktimeDataMethod' | abpLocalization">{{'::LABEL_BreaktimeDataMethod'|abpLocalization}}</label>
                <select class="form-select" formControlName="breaktimeDataMethod">
                  <option value="Database">Database</option>
                  <option value="Event">Event</option>
                  <option value="Manual">Manual</option>
                </select>
              </div>
            </div>
            <div class="col col-6" *ngIf="dataIntegrationSettingForm.get('breaktimeDataMethod').value === 'Database'">
              <div class="form-group mb-2">
                <label
                  for="data-integration-setting-breaktimeStoredProc" [title]="'::INFO_BreaktimeDSP' | abpLocalization">{{'::LABEL_BreaktimeDSP'|abpLocalization}}</label>
                <input type="text" id="data-integration-setting-breaktimeStoredProc" class="form-control"
                  formControlName="breaktimeStoredProc" />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col col-6">
              <div class="form-group mb-2">
                <label
                  for="data-integration-setting-LaborDataMethod" [title]="'::INFO_LaborDataMethod' | abpLocalization">{{'::LABEL_LaborDataMethod'|abpLocalization}}</label>
                <select class="form-select" formControlName="laborDataMethod">
                  <option value="Database">Database</option>
                  <option value="Event">Event</option>
                  <option value="Manual">Manual</option>
                </select>
              </div>
            </div>
            <div class="col col-6" *ngIf="dataIntegrationSettingForm.get('laborDataMethod')?.value === 'Database'">
              <div class="form-group mb-2">
                <label
                  for="data-integration-setting-LaborStoredProc" [title]="'::INFO_LaborDSP' | abpLocalization">{{'::LABEL_LaborDSP'|abpLocalization}}</label>
                <input type="text" id="data-integration-setting-LaborStoredProc" class="form-control"
                  formControlName="laborStoredProc" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    } @else {
    <div class="text-center"><i class="fa fa-pulse fa-spinner" aria-hidden="true"></i></div>
    }
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-outline-primary" abpClose>
      {{ 'AbpIdentity::Cancel' | abpLocalization }}
    </button>
    <abp-button iconClass="fa fa-check" [disabled]="dataIntegrationSettingForm?.invalid" (click)="save()">
      {{ 'AbpIdentity::Save' | abpLocalization }}
    </abp-button>
  </ng-template>
</abp-modal>

<abp-modal [(visible)]="isImportDetailsVisible" [options]="{size: 'lg'}">
  <ng-template #abpHeader>
  </ng-template>
  <ng-template #abpBody>
    <app-modeling-import-detail [items]="importResult"></app-modeling-import-detail>
  </ng-template>
  <ng-template #abpFooter>
    <button type="button" class="btn btn-outline-primary" abpClose>
      {{ 'AbpIdentity::Close' | abpLocalization }}
    </button>
  </ng-template>
</abp-modal>

<app-history-modal
    *ngIf="isHistoryModalVisible"
    [(isHistoryModalVisible)]="isHistoryModalVisible"
    [historys]="historys">
</app-history-modal>

<app-import-confirm
    *ngIf="importConfirmVisible"
    [(importConfirmVisible)]="importConfirmVisible"
    [existingData]="existingData"
    [objectType]="'DataIntegrationSetting'"
    (customeImport)="customeImport($event)">
</app-import-confirm>