<app-modeling-template [title]="'::MENU_ActivityCardPriority'" [data]="data" [objectType]="'ActivityCardPriority'"
    [copyPrefix]="'::LABEL_NewActivityCardPriority'"
    [permissions]="{create: 'ActivityCardPriority.Create', edit: 'ActivityCardPriority.Edit', delete: 'ActivityCardPriority.Delete', copy: 'ActivityCardPriority.Copy', import: 'ActivityCardPriority.Import', export: 'ActivityCardPriority.Export'}"
    [columns]="[{displayKey:'::Name', field: 'name'}, {displayKey: '::DisplayName', field: 'displayName'}, {displayKey: '::Description', field: 'description'}, { displayKey: '::LABEL_Color', field: 'color' }
]"
    [list]="list" [hasLastUpdate]="true" (copyData)="copy($event, edit.bind(this))" (multiDelete)="multiDelete($event)" (dataAdd)="add()"
    (dataEdit)="edit($event)" (dataDelete)="delete($event)" (export)="export($event)" (exportAll)="exportAll($event)"  (import)="import($event)"
    (dataViewHistory)="viewHistory($event)" [placeholder]="'::LABEL_SearchName' | abpLocalization">
</app-modeling-template>

<abp-modal [(visible)]="isModalVisible" [busy]="modalBusy">
    <ng-template #abpHeader>
        <h3>{{ (selected?.id ? '::Edit' : '::Create') | abpLocalization }}</h3>
    </ng-template>

    <ng-template #abpBody>
        @if (form) {
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                    <div class="form-group mb-2">
                        <label for="activity-card-priorities-name" [title]="'::INFO_Name' | abpLocalization">{{'::Name'|abpLocalization}}</label><span> * </span>
                        <input type="text" id="activity-card-priorities-name" class="form-control"
                            formControlName="name" autofocus
                            (input)="form.controls['displayName'].setValue($event.target.value)" />
                    </div>
                    <div class="form-group mb-2">
                        <label
                            for="activity-card-priorities-displayName" [title]="'::INFO_DisplayName' | abpLocalization">{{'::DisplayName'|abpLocalization}}</label><span>
                            *
                        </span>
                        <input type="text" id="activity-card-priorities-displayName" class="form-control"
                            formControlName="displayName" />
                    </div>
                    <div class="form-group mb-2">
                        <label for="activity-card-priorities-description" [title]="'::INFO_Description' | abpLocalization">{{'::Description'|abpLocalization}}</label>
                        <input type="text" id="activity-card-priorities-description" class="form-control"
                            formControlName="description" />
                    </div>
                    <div class="form-group">
                        <label for="priority-color" [title]="'::INFO_Color' | abpLocalization">{{'::LABEL_Color'|abpLocalization}}</label><span>
                            * </span>
                        <div class="color-picker">
                            <input type="text" id="priority-color" class="form-control"
                                formControlName="color" />
                            <input type="color" class="color-selector" [value]="selectedAlertColor"
                                (input)="updateColor($event.target.value)" />
                        </div>
                    </div>
                </div>
            </div>
        </form>
        } @else {
        <div class="text-center"><i class="fa fa-pulse fa-spinner" aria-hidden="true"></i></div>
        }
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-outline-primary" abpClose>
            {{ 'AbpIdentity::Cancel' | abpLocalization }}
        </button>
        <abp-button iconClass="fa fa-check" [disabled]="form?.invalid" (click)="save()">
            {{ 'AbpIdentity::Save' | abpLocalization }}
        </abp-button>
    </ng-template>
</abp-modal>

<abp-modal [(visible)]="isImportDetailsVisible" [options]="{size: 'lg'}">
    <ng-template #abpHeader>
    </ng-template>
    <ng-template #abpBody>
        <app-modeling-import-detail [items]="importResult"></app-modeling-import-detail>
    </ng-template>
    <ng-template #abpFooter>
        <button type="button" class="btn btn-outline-primary" abpClose>
            {{ 'AbpIdentity::Close' | abpLocalization }}
        </button>
    </ng-template>
</abp-modal>

<app-history-modal
    *ngIf="isHistoryModalVisible"
    [(isHistoryModalVisible)]="isHistoryModalVisible"
    [historys]="historys">
</app-history-modal>

<app-import-confirm
    *ngIf="importConfirmVisible"
    [(importConfirmVisible)]="importConfirmVisible"
    [existingData]="existingData"
    [objectType]="'ActivityCardPriority'"
    (customeImport)="customeImport($event)">
</app-import-confirm>