<app-modeling-template [title]="'::Text' | abpLocalization" [data]="data" [objectType]="'Text'"
    [permissions]="{create: 'Text.Create', edit: 'Text.Update', delete: 'Text.Delete'}"
    [columns]="columns" [customAction]="" [list]="list" (dataAdd)="add()"
    (dataEdit)="edit($event)" (dataDelete)="delete($event)"
    [hasLastUpdate]="true" [placeholder]="'::LABEL_SearchName' | abpLocalization">
</app-modeling-template>

<abp-modal [(visible)]="isModalVisible" [options]="{size: 'xl'}">
    <ng-template #abpHeader>
        <h3>{{ (selected?.id ? '::Edit' : '::Create') | abpLocalization }}</h3>
    </ng-template>

    <ng-template #abpBody>
        <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">

            <div class="form-group mb-2">
                <label for="text-section" [title]="'::INFO_Section' | abpLocalization">{{'::Section'|abpLocalization}}</label><span> * </span>
                <search-select id="text-section" [items]="sections" displayName="displayName" valueName="id"
                    (change)="selectChange($event)" [value]="this.form.controls['section'].value">
                </search-select>
            </div>

            <div class="form-group mb-2">
                <label for="text-content" [title]="'::INFO_Content' | abpLocalization">{{'::Content'|abpLocalization}}</label><span> * </span>
                <textarea id="text-content" class="form-control" formControlName="content" rows="8"></textarea>
            </div>
        </form>
        <div *ngIf="!form" class="text-center"><i class="fa fa-pulse fa-spinner" aria-hidden="true"></i></div>
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-outline-primary" abpClose>
            {{ 'AbpIdentity::Cancel' | abpLocalization }}
        </button>
        <abp-button iconClass="fa fa-check" [disabled]="form?.invalid" (click)="save()">{{
            'AbpIdentity::Save' | abpLocalization
            }}</abp-button>
    </ng-template>
</abp-modal>