.mobile-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.top-bar {
  background-color: var(--lpx-navbar-color);
  color: var(--lpx-navbar-text-color);
  padding: 10px;
  text-align: center;
  flex-shrink: 0;
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.bottom-bar {
  background-color: var(--lpx-navbar-color);
  color: var(--lpx-navbar-text-color);
  padding: 10px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
}

::ng-deep .my-tooltip-class {
    z-index: 99999999999 !important;
    max-width: none;
    white-space: nowrap;
}

.attachment-content {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 10px;
  background-color: #f9f9f9;
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.photo-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px; 
  border: 1px solid #eee; 
  border-radius: 4px; 
  padding: 5px; 
  background-color: white; 
  
  img {
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .form-check {
    margin-top: 5px;
  }
}

.empty-attachments {
  width: 100%;
  padding: 20px;
  text-align: center;
  color: #888;
}

.attachment-preview {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.3);
  
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  i {
    font-size: 1.3rem; 
  }
}

.attachment-title {
  .btn {
    background-color: transparent !important; 
    border: none;
    padding: 8px 12px; 
    
    &:disabled {
      background-color: transparent !important; 
      opacity: 0.45; 
      cursor: not-allowed;
    }
    
    &:hover, &:focus, &:active {
      background-color: transparent !important; 
      box-shadow: none;
    }

    i {
      font-size: 1.1rem; 
      
    }
  }
}