<app-modeling-template [title]="'vms::MENU_WorkPermitRequest'" [data]="data" [objectType]="'ContractorRequest'"
    [permissions]="{view: 'ContractorRequest.View', approve: 'ContractorRequest.Approve', 
    list: 'ContractorRequest.List', delete: 'ContractorRequest.Delete',
    export: 'ContractorRequest.Export', reject: 'ContractorRequest.Reject'}"
    [columns]="[{displayKey:'vms::ContractorName', field: 'contractorName'},{displayKey:'vms::WorkPermit', field: 'workPermitCode'},{displayKey:'vms::WorkingArea', field: 'workingArea'},{displayKey:'vms::PICStatus', field: 'molexSupervisorApproveStatusText'},{displayKey:'vms::EHSStatus', field: 'ehsApproveStatusText'}]"
    [list]="list" [hasLastUpdate]="false" (dataDelete)="delete($event)" (multiDelete)="multiDelete($event)"
    [columnActions]="[{ displayKey: 'vms::ViewDetail', permission: 'ContractorRequest.View', func: view ,parent:this}]"
    (filterChange)="searchByfilter($event)" filterType="Master" [placeholder]="'vms::LABEL_SearchContractor' | abpLocalization">
</app-modeling-template>

<abp-modal [(visible)]="isModalVisible" [options]="{size: 'xl'}">
    <ng-template #abpHeader>
        <div class="d-flex justify-content-between align-items-center w-100">
            <h3 class="m-0">{{'vms::MENU_WorkPermitRequest' | abpLocalization }}</h3>
            <div>
                <button type="button" class="btn btn-outline-primary btn-sm me-1" (click)="isCollapse = false;">
                    {{'::LABEL_ExpandAll' | abpLocalization}}
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="isCollapse = true;">
                    {{'::LABEL_CollapseAll' | abpLocalization}}
                </button>
            </div>
        </div>
    </ng-template>

    <ng-template #abpBody>
        <div class="accordion" id="accordionExample">
            <div class="accordion accordion-flush">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                            [class.collapsed]="isCollapse">
                            {{ '::LABEL_General' | abpLocalization }}
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" [class.show]="!isCollapse">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>{{ 'vms::ContractorName' | abpLocalization }}:</strong> {{ selected?.contractorName }}</p>
                                    <p><strong>{{ 'vms::RequestType' | abpLocalization }}:</strong> {{ selected?.requestType ? 'Extend old work permit/Add person' : 'Apply for a new work permit' }}</p>
                                    
                                    <ng-container *ngIf="!selected?.requestType">
                                        <p><strong>{{ '::From' | abpLocalization }}:</strong> {{ selected?.startDate | date:'dd/MM/yyyy' }}</p>
                                        <p><strong>{{ '::To' | abpLocalization }}:</strong> {{ selected?.endDate | date:'dd/MM/yyyy' }}</p>
                                        <p><strong>{{ 'vms::MolexPIC' | abpLocalization }}:</strong> {{ selected?.molexSupervisorName }}</p>
                                        <p><strong>{{ 'vms::ContractorPICName' | abpLocalization }}:</strong> {{ selected?.contractorSupervisorName }}</p>
                                        <p><strong>{{ 'vms::ContractorPICPhone' | abpLocalization }}:</strong> {{ selected?.contractorSupervisorPhone }}</p>
                                        <p><strong>{{ 'vms::WorkingArea' | abpLocalization }}:</strong> {{ selected?.workingArea }}</p>
                                        <p><strong>{{ 'vms::WorkDescription' | abpLocalization }}:</strong> {{ selected?.workDescription }}</p>
                                        <div *ngFor="let jobType of selected?.selections | groupBy:'jobTypeId'">
                                            <p><strong>{{ 'vms::JobType' | abpLocalization }}:</strong> {{ jobType[0]?.jobTypeName }}</p>
                                            <div *ngFor="let section of jobType | groupBy:'jobSectionId'">
                                                <p>{{ section[0]?.jobSectionName }}</p>
                                                <ul>
                                                    <li *ngFor="let option of section">
                                                        {{ option?.jobOptionName }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div *ngFor="let textField of selected?.textFieldValues">
                                            <p><strong>{{ textField?.textField }}:</strong> {{ textField?.value }}</p>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="selected?.requestType">
                                        <p><strong>{{ 'vms::To' | abpLocalization }}:</strong> {{ selected?.endDate | date:'dd/MM/yyyy' }}</p>
                                        <p><strong>{{ 'vms::OldWorkPermit' | abpLocalization }}:</strong> {{ selected?.oldWorkPermitCode }}</p>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                            [class.collapsed]="isCollapse">
                            {{ 'vms::LABEL_EmployeeList' | abpLocalization }}
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" [class.show]="!isCollapse">
                        <div class="accordion-body">
                            <div class="row">
                                <div>
                                    <div *ngIf="employeeListFiles.length === 0">
                                        <div class="d-inline-block">
                                            <button class="btn btn-outline-primary btn-sm action-button" *ngIf="selected.employeeLists?.length > 0"
                                                type="button" (click)="exportEmployeeList()">
                                                <i class="fa fa-download"></i>
                                                <span>{{ 'vms::Export' | abpLocalization }}</span>
                                            </button>
                                        </div>                 
                                        <table class="table table-bordered table-sm mt-3" *ngIf="selected.employeeLists?.length > 0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>{{ 'vms::FullName' | abpLocalization }}</th>
                                                    <th>{{ 'vms::DateOfBirth' | abpLocalization }}</th>
                                                    <th>{{ 'vms::Company' | abpLocalization }}</th>
                                                    <th>{{ 'vms::ID_Card' | abpLocalization }}</th>
                                                    <th>{{ 'vms::ManagementDepartment' | abpLocalization }}</th>
                                                    <th>{{ 'vms::MolexPIC' | abpLocalization }}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let emp of selected.employeeLists; let i = index">
                                                    <td>{{ i + 1 }}</td>
                                                    <td>{{ emp.fullName }}</td>
                                                    <td>{{ emp.dateOfBirth }}</td>
                                                    <td>{{ emp.company }}</td>
                                                    <td>{{ emp.passport }}</td>
                                                    <td>{{ emp.managementDepartment }}</td>
                                                    <td>{{ emp.molexSupervisor }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="file-container" *ngFor="let file of employeeListFiles">
                                        <div *ngIf="file.loading">
                                        <i class="fa fa-pulse fa-spinner me-2" aria-hidden="true"></i>{{ 'vms::LoadingWithThreeDot' | abpLocalization }}
                                        </div>
                                        <div *ngIf="!file.loading">
                                        <img
                                            *ngIf="file.isImage"
                                            [src]="file.mediaAccessUrl"
                                            alt="{{ file.fileName }}"
                                            class="cursor-pointer file-image"
                                            (click)="getPreviewImage(file.fileUrl)"
                                        />
                                        <a *ngIf="!file.isImage" [href]="file.mediaAccessUrl" [download]="file.fileName">
                                            {{ file.fileName }}
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"
                            [class.collapsed]="isCollapse">
                            {{ 'vms::LABEL_Document' | abpLocalization }}
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" [class.show]="!isCollapse">
                        <div class="accordion-body">
                            <div class="row">
                                <div *ngIf="documentFiles.length === 0">{{ 'vms::NoFilesAvailable' | abpLocalization }}</div>
                                <div class="col-md-4" *ngFor="let file of documentFiles">
                                    <div *ngIf="file.loading">
                                        <i class="fa fa-pulse fa-spinner me-2" aria-hidden="true"></i>{{ 'vms::LoadingWithThreeDot' | abpLocalization }}
                                    </div>
                                    <div *ngIf="!file.loading" style="display: flex; flex-direction: column; gap: 12px; padding: 12px;">
                                        <div style="height: 200px;">
                                            <img *ngIf="file.isImage" [src]="file.mediaAccessUrl" alt="{{ file.fileName }}"
                                                class="cursor-pointer file-image" style="width: auto; max-height: 200px;" />
                                        </div>
                                        <a [href]="file.mediaAccessUrl" [download]="file.fileName">
                                            {{ file.fileName }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form [formGroup]="form" *ngIf="selected?.ehsApproveStatus === 0">
            <div class="form-group mb-2">
                <label for="contractor-request-work-permit-code" [title]="'::INFO_WorkPermitCode' | abpLocalization">{{'vms::WorkPermitCode'|abpLocalization}}</label>
                <input type="text" id="contractor-request-work-permit-code" class="form-control" formControlName="workPermitCode"/>
            </div>

            <div class="form-group mb-2">
                <label for="contractor-request-comment" [title]="'::INFO_Comment' | abpLocalization">{{'::LABEL_CommentText'|abpLocalization}}</label><span> * </span>
                <textarea id="contractor-request-comment" class="form-control" formControlName="comment" rows="5"></textarea>
            </div>
        </form>
    </ng-template>

    <ng-template #abpFooter *ngIf="selected?.ehsApproveStatus === 0">
        <button type="button" class="btn btn-outline-primary" (click)="reject(selected)">
        {{ 'AbpIdentity::Reject' | abpLocalization }}
        </button>
        <abp-button (click)="approve(selected)">{{
        'AbpIdentity::Approve' | abpLocalization
        }}</abp-button>
    </ng-template>
</abp-modal>
