<app-modeling-template [title]="'::Guest Information' | abpLocalization" [data]="data" [objectType]="'GuestInformation'"
    [permissions]="{view: 'GuestInformation.View', notify: 'GuestInformation.Notify', list: 'GuestInformation.List'}"
    [columns]="[{displayKey:'::Full Name', field: 'fullName'},{displayKey:'::Company', field: 'company'},{displayKey:'::Title', field: 'title'},{displayKey:'::Purpose', field: 'purpose'},{displayKey:'::Work With Whom In MXV', field: 'workWithWhomInMolex'}]"
    [toolbarButtons]="{notify: true}" [list]="list" [hasLastUpdate]="false" (notifyData)="notify($event)"
    (dataDelete)="delete($event)" (multiDelete)="multiDelete($event)"
    [columnActions]="[{ displayKey: '::ViewDetails', permission: 'GuestInformation.View', func: view ,parent:this}]"
    (filterChange)="searchByfilter($event)" filterType="Master" [placeholder]="'::LABEL_SearchGuest' | abpLocalization">
</app-modeling-template>

<abp-modal [(visible)]="isModalVisible" [options]="{size: 'xl'}">
    <ng-template #abpHeader>
        <div class="d-flex justify-content-between align-items-center w-100">
            <h3 class="m-0">{{'::Guest Information' | abpLocalization }}</h3>
            <div>
                <button type="button" class="btn btn-outline-primary btn-sm me-1" (click)="isCollapse = false;">
                    {{'::LABEL_ExpandAll' | abpLocalization}}
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="isCollapse = true;">
                    {{'::LABEL_CollapseAll' | abpLocalization}}
                </button>
            </div>
        </div>
    </ng-template>

    <ng-template #abpBody>
        <div class="accordion" id="accordionExample">
            <div class="accordion accordion-flush">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                            [class.collapsed]="isCollapse">
                            {{ '::LABEL_General' | abpLocalization }}
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" [class.show]="!isCollapse">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>{{ '::Full Name' | abpLocalization }}:</strong> {{ selected?.fullName }}</p>
                                    <p><strong>{{ '::Company' | abpLocalization }}:</strong> {{ selected?.company }}</p>
                                    <p><strong>{{ '::Title' | abpLocalization }}:</strong> {{ selected?.title }}</p>
                                    <p><strong>{{ '::Purpose' | abpLocalization }}:</strong> {{ selected?.purpose }}</p>
                                    <p><strong>{{ '::Work With Whom In MXV' | abpLocalization }}:</strong> {{ selected?.workWithWhomInMolex }}</p>
                                    <p><strong>{{ '::Food Restriction' | abpLocalization }}:</strong> {{ selected?.isFoodRestrict ? 'Yes' : 'No' }}</p>
                                    <ng-container *ngIf="selected?.isFoodRestrict">
                                        <p><strong>{{ '::Food Restriction Detail' | abpLocalization }}:</strong> {{ selected?.foodRestrictDetail }}</p>
                                    </ng-container>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>{{ '::Hotel Support' | abpLocalization }}:</strong> {{ selected?.isHotelSupport ? 'Yes' : 'No' }}</p>
                                    <ng-container *ngIf="selected?.isHotelSupport">
                                        <p><strong>{{ '::Hotel Name' | abpLocalization }}:</strong> {{ selected?.hotelName }}</p>
                                        <p><strong>{{ '::Room Type' | abpLocalization }}:</strong> {{ selected?.roomType }}</p>
                                    </ng-container>
                                    <p><strong>{{ '::Other Request' | abpLocalization }}:</strong> {{ selected?.otherRequest }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                            [class.collapsed]="isCollapse">
                            {{ '::Flight Information' | abpLocalization }}
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" [class.show]="!isCollapse">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-6" *ngFor="let flight of selected?.flightInfos">
                                    <p><strong>{{ '::Flight Type' | abpLocalization }}:</strong> {{ flight.flightType ? 'Departure Flight' : 'Arrival Flight' }}</p>
                                    <p><strong>{{ '::Date' | abpLocalization }}:</strong> {{ flight.date | date:'dd/MM/yyyy' }}</p>
                                    <p><strong>{{ '::No' | abpLocalization }}:</strong> {{ flight.no }}</p>
                                    <p><strong>{{ '::Route' | abpLocalization }}:</strong> {{ flight.route }}</p>
                                    <p><strong>{{ '::Time' | abpLocalization }}:</strong> {{ flight.time.slice(0, 5)}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"
                            [class.collapsed]="isCollapse">
                            {{ '::Transportation & Uniform' | abpLocalization }}
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" [class.show]="!isCollapse">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>{{ '::Airport Transportation' | abpLocalization }}:</strong> {{ selected?.transportInfo.isAirportTransport ? 'Yes' : 'No' }}</p>
                                    <p><strong>{{ '::Daily Transportation' | abpLocalization }}:</strong> {{ selected?.transportInfo.isDailyTransport ? 'Yes' : 'No' }}</p>
                                    <ng-container *ngIf="selected?.transportInfo.isDailyTransport">
                                        <p><strong>{{ '::Time' | abpLocalization }}:</strong> {{ selected?.transportInfo.time.slice(0, 5) }}</p>
                                        <p><strong>{{ '::Route' | abpLocalization }}:</strong> {{ selected?.transportInfo.route }}</p>
                                        <p><strong>{{ '::Address' | abpLocalization }}:</strong> {{ selected?.transportInfo.address }}</p>
                                    </ng-container>
                                </div>
                                <div class="col-md-6">
                                    <p><strong>{{ '::Enter Factory' | abpLocalization }}:</strong> {{ selected?.uniformInfo.isVisitFactory ? 'Yes' : 'No' }}</p>
                                    <ng-container *ngIf="selected?.uniformInfo.isVisitFactory">
                                        <p><strong>{{ '::Camera Cover' | abpLocalization }}:</strong> {{ selected?.uniformInfo.cameraCover }}</p>
                                        <p><strong>{{ '::Card Type' | abpLocalization }}:</strong> {{ selected?.uniformInfo.cardType ? 'Red' : 'Blue' }}</p>
                                        <p><strong>{{ '::Uniform Type' | abpLocalization }}:</strong> {{ selected?.uniformInfo.uniformType ? 'Orange' : 'Green' }}</p>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-outline-primary" abpClose>
        {{ 'AbpIdentity::Back' | abpLocalization }}
        </button>
        <abp-button iconClass="fa fa-bell" (click)="notifyInModal()">{{
        'AbpIdentity::Notify' | abpLocalization
        }}</abp-button>
    </ng-template>
</abp-modal>