.ng-select .ng-select-container {
    font-size: 1em;
    background: var(--lpx-navbar-active-bg-color);
    border-radius: var(--lpx-radius);
    border: 1px solid rgba(var(--lpx-navbar-active-text-color-rgb), 0.05);
    color: var(--lpx-navbar-active-text-color);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background: var(--lpx-navbar-color);
    color: var(--lpx-navbar-text-color);
}

.ng-select.ng-select-opened>.ng-select-container {
    background: var(--lpx-navbar-color);
    color: var(--lpx-navbar-text-color);
}

.ng-dropdown-panel {
    background: var(--lpx-navbar-color);
    color: var(--lpx-navbar-text-color);
}

.ng-dropdown-panel .ng-dropdown-header {
    background: var(--lpx-navbar-color);
    color: var(--lpx-navbar-text-color);

    input {
        background: var(--lpx-navbar-active-bg-color);
        color: var(--lpx-navbar-active-text-color);
        //border-radius: var(--lpx-radius);
        border: 1px solid rgba(var(--lpx-navbar-active-text-color-rgb), 0.05);
        width: 100%;
    }
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    background: var(--lpx-navbar-active-bg-color);
    color: var(--lpx-navbar-active-text-color);
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    background: var(--lpx-brand);
    color: white;
}

ng-dropdown-panel {
    z-index: 9999999 !important;
}