<div class="p-5 border border-gray-200 rounded-2xl dark:border-gray-800 lg:p-6">
    <h4 class="text-lg font-semibold text-gray-800 dark:text-white/90 mb-4">
        Employee List
    </h4>
    <div class="overflow-hidden rounded-xl border border-gray-200 bg-white dark:border-white/[0.05] dark:bg-white/[0.03]">
        <div class="max-w-full overflow-x-auto">
            <table class="min-w-full">
                <!-- Table Header -->
                <thead class="border-b border-gray-100 dark:border-white/[0.05]">
                <tr>
                    <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">
                        #
                    </th>
                    <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">
                        Full Name
                    </th>
                    <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">
                        Date of Birth
                    </th>
                    <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">
                        Vendor
                    </th>
                    <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">
                        Passport
                    </th>
                    <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">
                        Department
                    </th>
                    <th class="px-5 py-3 font-medium text-gray-500 text-start text-theme-xs dark:text-gray-400">
                        Molex Supervisor
                    </th>
                </tr>
                </thead>
                <!-- Table Body -->
                <tbody class="divide-y divide-gray-100 dark:divide-white/[0.05]">
                    @for (emp of employeeList; track $index) {
                        <tr>
                            <td class="px-5 py-4 text-start text-theme-sm text-gray-700 dark:text-white/90">
                                {{ emp.id }}
                            </td>
                            <td class="px-5 py-4 text-start text-theme-sm text-gray-700 dark:text-white/90">
                                {{ emp.fullName }}
                            </td>
                            <td class="px-5 py-4 text-start text-theme-sm text-gray-500 dark:text-gray-400">
                                {{ emp.dateOfBirth }}
                            </td>
                            <td class="px-5 py-4 text-start text-theme-sm text-gray-500 dark:text-gray-400">
                                {{ emp.vendor_name }}
                            </td>
                            <td class="px-5 py-4 text-start text-theme-sm text-gray-500 dark:text-gray-400">
                                {{ emp.passport }}
                            </td>
                            <td class="px-5 py-4 text-start text-theme-sm text-gray-500 dark:text-gray-400">
                                {{ emp.management_department }}
                            </td>
                            <td class="px-5 py-4 text-start text-theme-sm text-gray-500 dark:text-gray-400">
                                {{ emp.molex_supervisor_name }}
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4">
        <div class="flex items-center p-4 border border-gray-200 rounded-xl shadow-sm hover:shadow-md dark:border-white/[0.05] dark:bg-white/[0.02] transition gap-3">
            <!-- File Icon -->
            <div class="w-12 h-12 flex items-center justify-center rounded-lg bg-gray-100 dark:bg-white/[0.05]">
                <ng-container [ngSwitch]="file.filetype">
                    <svg *ngSwitchCase="'document'" xmlns="http://www.w3.org/2000/svg"
                         class="w-8 h-8 text-blue-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M7 21h10a2 2 0 002-2V7l-6-6H7a2 2 0 00-2 2v16a2 2 0 002 2z" />
                    </svg>
                </ng-container>
            </div>
            <!-- File Name -->
            <p class="text-sm font-medium text-gray-800 dark:text-white/90 truncate">
                {{ file.fileName }}
            </p>
        </div>
    </div>
</div>
