<div class="p-5 border border-gray-200 rounded-2xl dark:border-gray-800 lg:p-6">
    <div class="flex flex-col gap-6 lg:flex-row lg:items-start lg:justify-between">
        <div>
            <h4 class="text-lg font-semibold text-gray-800 dark:text-white/90 lg:mb-6">
                Flight Information
            </h4>
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 lg:gap-7 2xl:gap-x-32">
                @for (f of flight; track $index) {
                    <div class="lg:col-span-2">
                        <p class="text-sm font-medium text-gray-800 dark:text-white/90">
                            {{ f.flight_type }} Flight
                        </p>
                    </div>
                    <div>
                        <p class="mb-2 text-xs text-gray-500 dark:text-gray-400">Flight No</p>
                        <p class="text-sm font-medium text-gray-800 dark:text-white/90">
                            {{ f.no }}
                        </p>
                    </div>
                    <div>
                        <p class="mb-2 text-xs text-gray-500 dark:text-gray-400">Date</p>
                        <p class="text-sm font-medium text-gray-800 dark:text-white/90">
                            {{ f.date }}
                        </p>
                    </div>
                    <div>
                        <p class="mb-2 text-xs text-gray-500 dark:text-gray-400">Route</p>
                        <p class="text-sm font-medium text-gray-800 dark:text-white/90">
                            {{ f.route }}
                        </p>
                    </div>
                    <div>
                        <p class="mb-2 text-xs text-gray-500 dark:text-gray-400">Time</p>
                        <p class="text-sm font-medium text-gray-800 dark:text-white/90">
                            {{ f.time }}
                        </p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
