<form [formGroup]="contractorForm" (ngSubmit)="onSubmit()" style="padding-top: 40px;" id="contractor-form-top">
    <h2 style="color: black;" id="form-title">{{ '::LABEL_ContractorForm' | abpLocalization }}</h2>

    <div class="form-group full-width">
        <label for="requestType">{{ '::LABEL_RequestType' | abpLocalization }}<span> * </span></label>
        <select formControlName="requestType" id="requestType" required>
            <option value="" disabled selected>{{ '::LABEL_Select' | abpLocalization }}</option>
            <option value="0">{{ '::LABEL_NewRequest' | abpLocalization }}</option>
            <option Value="1">{{ '::LABEL_ExtendRequest' | abpLocalization }}</option>
        </select>
    </div>

    <div *ngIf="contractorForm.get('requestType')?.value === '0'">
        <div class="form-row">
            <div class="form-group">
                <label for="molexSupervisorName">{{ '::MolexPICName' | abpLocalization }}<span> * </span></label>
                <input type="text" id="molexSupervisorName" formControlName="molexSupervisorName" required>
            </div>
            <div class="form-group">
                <label for="contractorName">{{ '::ContractorName' | abpLocalization }}<span> * </span></label>
                <input type="text" id="contractorName" formControlName="contractorName" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="contractorSupervisorName">{{ '::ContractorPICName' | abpLocalization }}<span> * </span></label>
                <input type="text" id="contractorSupervisorName" formControlName="contractorSupervisorName" required>
            </div>
            <div class="form-group">
                <label for="contractorSupervisorPhone">{{ '::ContractorPICPhone' | abpLocalization }}<span> * </span></label>
                <input type="text" id="contractorSupervisorPhone" formControlName="contractorSupervisorPhone" required>
            </div>
        </div>
        <div class="form-group full-width">
            <label for="workingArea">{{ '::WorkingArea' | abpLocalization }}<span> * </span></label>
            <input type="text" id="workingArea" formControlName="workingArea" required>
        </div>
        <div class="form-row">
            <div class="form-group">
                <label for="startDate">{{ '::From' | abpLocalization }}<span> * </span></label>
                <br>
                <input type="date" id="startDate" formControlName="startDate" required>
            </div>
            <div class="form-group">
                <label for="endDate">{{ '::To' | abpLocalization }}<span> * </span></label>
                <br>
                <input type="date" id="endDate" formControlName="endDate" required>
            </div>
            <div class="form-group">
                <label for="employeeNumber">{{ '::EmployeeNumber' | abpLocalization }}<span> * </span></label>
                <input type="number" id="employeeNumber" formControlName="employeeNumber" required>
            </div>
        </div>

        <div formArrayName="employeeLists">
            <p>{{ '::LABEL_EmployeeList' | abpLocalization }}<span> * </span></p>
            <button type="button" (click)="addEmployee()" class="add-btn">{{ '::AddEmployee' | abpLocalization }}</button>
            <div *ngFor="let employee of employeeLists.controls; let i=index" [formGroupName]="i" class="employee-section">
                <div class="form-row">
                    <div class="form-group">
                        <label for="fullName-{{i}}">{{ '::FullName' | abpLocalization }}<span> * </span></label>
                        <input type="text" id="fullName-{{i}}" formControlName="fullName" required>
                    </div>
                    <div class="form-group">
                        <label for="dateOfBirth-{{i}}">{{ '::DateOfBirth' | abpLocalization }}<span> * </span></label>
                        <input type="text" id="dateOfBirth-{{i}}" formControlName="dateOfBirth" required>
                    </div>
                    <div class="form-group">
                        <label for="passport-{{i}}">{{ '::ID_Card' | abpLocalization }}<span> * </span></label>
                        <input type="text" id="passport-{{i}}" formControlName="passport" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="company-{{i}}">{{ '::Company' | abpLocalization }}<span> * </span></label>
                        <input type="text" id="company-{{i}}" formControlName="company" required>
                    </div>
                    <div class="form-group">
                        <label for="managementDepartment-{{i}}">{{ '::ManagementDepartment' | abpLocalization }}</label>
                        <input type="text" id="managementDepartment-{{i}}" formControlName="managementDepartment">
                    </div>
                    <div class="form-group">
                        <label for="molexSupervisor-{{i}}">{{ '::MolexPIC' | abpLocalization }}</label>
                        <input type="text" id="molexSupervisor-{{i}}" formControlName="molexSupervisor">
                    </div>
                </div>
                <button type="button" (click)="removeEmployee(i)" class="delete-btn" style="margin-top: 10px;">{{ '::Delete' | abpLocalization }}</button>
            </div>
        </div>

        <p>{{ '::LABEL_UploadEmployeeFileGuide' | abpLocalization }}</p>
            <div class="file-container">
                <div>
                    <a
                        href="./assets/vms/Employee_List.xlsx"
                        download="Employee_List.xlsx"
                        >
                        <i class="fa fa-file-excel-o me-2" aria-hidden="true"></i>
                        Employee_List.xlsx
                    </a>
                </div>
            </div>

        <div class="form-group full-width">
            <label for="employeeListFile">{{ '::EmployeeListFile' | abpLocalization }}</label>
            <input type="file" id="employeeListFile" formControlName="employeeListFile" style="height: 40px;" class="form-control mb-3" accept=".xlsx,.xls" (change)="onEmployeeListFileChange($event)" />
        </div>
        <div class="form-group full-width">
            <label for="workDescription">{{ '::WorkDescription' | abpLocalization }}<span> * </span></label>
            <textarea id="workDescription" formControlName="workDescription" required></textarea>
        </div>
        <div class="form-group full-width">
            <label for="jobTypeId">{{ '::JobType' | abpLocalization }}<span> * </span></label>
            <div *ngFor="let jobType of jobTypes" class="radio-option" style="display: flex; align-items: center;">
                <input 
                    type="radio" 
                    id="job-{{jobType.id}}" 
                    name="jobTypeId" 
                    [value]="jobType.id" 
                    formControlName="jobTypeId"
                    required
                />
                <label for="job-{{jobType.id}}" [title]="jobType.jobName">
                    {{ jobType.jobName }}
                </label>
                </div>
        </div>

        <div *ngIf="selectedJobTypeDetail" class="job-details">        
            <div formArrayName="selectedSections">
                <div *ngFor="let sectionCtrl of contractorForm.get('selectedSections')['controls']; let sectionIndex=index" [formGroupName]="sectionIndex">
                    <p style="color: black; display: flex;max-width: 700px;word-break: break-word;white-space: normal;">{{ selectedJobTypeDetail.sections[sectionIndex].name }}</p>
                    <div *ngFor="let option of selectedJobTypeDetail.sections[sectionIndex].options; let optionIndex=index">
                        <label style="color: #4c4c4c; padding-bottom: 5px; display: flex;max-width: 700px;word-break: break-word;white-space: normal;">
                            <input type="checkbox" [checked]="isOptionSelected(sectionIndex, option.jobOptionId)" (change)="toggleOption(sectionIndex, option.jobOptionId, $event.target.checked)">
                            {{ option.name }}
                        </label>
                    </div>
                </div>
            </div>
            <div [formGroup]="contractorForm.get('textFieldsValues')">
                <div *ngFor="let field of selectedJobTypeDetail.textFields">
                    <div class="form-group full-width">
                        <label for="{{ field.jobTextFieldId }}">{{ field.field }}<span *ngIf="field.isRequired"> * </span></label>
                        <input type="text" [id]="field.jobTextFieldId" [formControlName]="field.jobTextFieldId" [required]="field.isRequired">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="contractorForm.get('requestType')?.value === '1'">
        <div class="form-row">
            <div class="form-group">
                <label for="oldWorkPermitCode">{{ '::OldWorkPermitCode' | abpLocalization }}<span> * </span></label>
                <input type="text" id="oldWorkPermitCode" formControlName="oldWorkPermitCode" required>
            </div>
            <div class="form-group">
                <label for="contractorName">{{ '::ContractorName' | abpLocalization }}<span> * </span></label>
                <input type="text" id="contractorName" formControlName="contractorName" required>
            </div>
        </div>
        <div class="form-group full-width">
            <label for="endDate">{{ '::ExtendToDate' | abpLocalization }}<span> * </span></label>
            <input type="date" id="endDate" formControlName="endDate" required>
        </div>

        <div formArrayName="employeeLists">
            <p>{{ '::LABEL_AdditonalEmployee' | abpLocalization }}</p>
            <button type="button" (click)="addEmployee()" class="add-btn">{{ '::AddEmployee' | abpLocalization }}</button>
            <div *ngFor="let employee of employeeLists.controls; let i=index" [formGroupName]="i" class="employee-section">
                <div class="form-row">
                    <div class="form-group">
                        <label for="fullName-{{i}}">{{ '::FullName' | abpLocalization }}<span> * </span></label>
                        <input type="text" id="fullName-{{i}}" formControlName="fullName" required>
                    </div>
                    <div class="form-group">
                        <label for="dateOfBirth-{{i}}">{{ '::DateOfBirth' | abpLocalization }}<span> * </span></label>
                        <input type="text" id="dateOfBirth-{{i}}" formControlName="dateOfBirth" required>
                    </div>
                    <div class="form-group">
                        <label for="passport-{{i}}">{{ '::ID_Card' | abpLocalization }}<span> * </span></label>
                        <input type="text" id="passport-{{i}}" formControlName="passport" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                        <label for="company-{{i}}">{{ '::Company' | abpLocalization }}<span> * </span></label>
                        <input type="text" id="company-{{i}}" formControlName="company" required>
                    </div>
                    <div class="form-group">
                        <label for="managementDepartment-{{i}}">{{ '::ManagementDepartment' | abpLocalization }}</label>
                        <input type="text" id="managementDepartment-{{i}}" formControlName="managementDepartment">
                    </div>
                    <div class="form-group">
                        <label for="molexSupervisor-{{i}}">{{ '::MolexPIC' | abpLocalization }}</label>
                        <input type="text" id="molexSupervisor-{{i}}" formControlName="molexSupervisor">
                    </div>
                </div>
                <button type="button" (click)="removeEmployee(i)" class="delete-btn" style="margin-top: 10px;">{{ '::Delete' | abpLocalization }}</button>
            </div>
        </div>
        <div *ngIf="oldEmployeeListFiles.length > 0" class="old-files">
            <p>{{ '::OldEmployeeListFile' | abpLocalization }}:</p>
            <p>{{ '::LABEL_AddEmployeeFileGuide' | abpLocalization }}</p>
            <div class="file-container" *ngFor="let file of oldEmployeeListFiles">
                <div *ngIf="file.loading">
                    <i class="fa fa-pulse fa-spinner me-2" aria-hidden="true"></i>{{ '::LoadingWithThreeDot' }}
                </div>
                <div *ngIf="!file.loading">
                    <img
                        *ngIf="file.isImage"
                        [src]="file.mediaAccessUrl"
                        alt="{{ file.fileName }}"
                        class="cursor-pointer file-image"
                        (click)="getPreviewImage(file.fileUrl)"
                    />
                    <a *ngIf="!file.isImage" [href]="file.mediaAccessUrl" [download]="file.fileName">
                        {{ file.fileName }}
                    </a>
                </div>
            </div>
        </div>
        <div class="form-group full-width">
            <div class="file-container" *ngIf="oldEmployeeListFiles.length === 0">
                <p>{{ '::LABEL_UploadEmployeeFileGuide' | abpLocalization }}</p>
                <div>
                    <a
                        href="./assets/vms/Employee_List.xlsx"
                        download="Employee_List.xlsx"
                        >
                        <i class="fa fa-file-excel-o me-2" aria-hidden="true"></i>
                        Employee_List.xlsx
                    </a>
                </div>
            </div>
            <label for="employeeListFile">{{ '::AdditionalFile' | abpLocalization }}</label>
            <input type="file" id="employeeListFile" formControlName="employeeListFile" style="height: 40px;" class="form-control mb-3" accept=".xlsx,.xls" (change)="onEmployeeListFileChange($event)" />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group">
            <label for="molexSupervisorEmail">{{ '::LABEL_MolexPICEmail' | abpLocalization }}<span> * </span></label>
            <input type="email" id="molexSupervisorEmail" formControlName="molexSupervisorEmail" required>
        </div>
        <div class="form-group">
            <label for="contractorEmail">{{ '::LABEL_ContractorEmail' | abpLocalization }}<span> * </span></label>
            <br>
            <input type="email" id="contractorEmail" formControlName="contractorEmail" required>
        </div>
    </div>

    <div class="form-group full-width">
        <label>{{ '::LABEL_VideoConfirm' | abpLocalization }}:<span> * </span></label>
        <div style="margin-top: 8px; display: flex; gap: 20px; align-items: center;">
            <label style="display: flex; align-items: center;">
                <input type="radio" formControlName="videoConfirmed" value="yes" required>
                <span style="margin-left: 5px;">{{ '::LABEL_ConfirmVideo' | abpLocalization }}</span>
            </label>
        </div>
        <p style="margin-top: 10px;">
            {{ '::LABEL_VideoTraining' | abpLocalization }}:
            <a href="https://www.youtube.com/watch?v=IQg8GvOY6Pw&t=42s" target="_blank" rel="noopener noreferrer">
                {{ '::Here' | abpLocalization }}
            </a>
        </p>
    </div>

    <div class="form-group full-width">
        <label for="documentFiles">{{ '::LABEL_Document' | abpLocalization }}</label>
        <input 
            type="file" 
            id="documentFiles" 
            multiple 
            (change)="onDocumentFilesChange($event)" 
            style="height: 40px;" 
            class="form-control mb-3" 
            accept="image/*,.pdf,.doc,.docx,.xlsx,.xls" 
        />
        <div *ngIf="documentFiles.length > 0" class="uploaded-files">
            <p>{{ '::LABEL_UploadedDocuments' | abpLocalization }}:</p>
            <ul>
                <li *ngFor="let preview of documentPreviews; let i=index" class="file-item">
                    <span>{{ preview.file.name }}</span>
                    <img *ngIf="preview.url" [src]="preview.url" alt="Preview" class="file-preview" />
                    <button type="button" (click)="removeDocumentFile(i)" class="delete-btn" style="align-items: end;">{{ '::Delete' | abpLocalization }}</button>
                </li>
            </ul>
        </div>
    </div>

    <button type="submit" [disabled]="contractorForm.invalid || isSubmitting">{{ '::Submit' | abpLocalization }}</button>
</form>