<app-modeling-template [title]="'::MENU_Product'" [data]="data" [objectType]="'Products'"
    [permissions]="{create: 'Product.Create', edit: 'Product.Edit', delete: 'Product.Delete', copy: 'Product.Copy', import: 'Product.Import', export: 'Product.Export'}"
    [columns]="columns" [customAction]="" [list]="list" (dataAdd)="add()" [copyPrefix]="'::LABEL_NewProduct'"
    (dataEdit)="edit($event)" (dataDelete)="delete($event)" (multiDelete)="multiDelete($event)"  (copyModalOpen)="copyModalOpen($event)"
    (dataViewHistory)="viewHistory($event)" (export)="export($event)" (exportAll)="exportAll($event)"  (import)="import($event)"
    (copyData)="copyProduct($event)" [hasLastUpdate]="true" [placeholder]="'::LABEL_SearchName' | abpLocalization">
</app-modeling-template>

<abp-modal [(visible)]="isModalVisible">
    <ng-template #abpHeader>
        <h3>{{ (selected?.id ? '::Edit' : '::Create') | abpLocalization }}</h3>
    </ng-template>

    <ng-template #abpBody>
        <form *ngIf="form" [formGroup]="form" (ngSubmit)="save()">

            <div class="form-group mb-2">
                <label for="product-name" [title]="'::INFO_Name' | abpLocalization">{{'::Name'|abpLocalization}}</label><span> * </span>
                <input type="text" id="product-name" class="form-control" formControlName="name" autofocus
                    (input)="form.controls['displayName'].setValue($event.target.value)"/>
            </div>

            <div class="form-group mb-2">
                <label for="product-displayName" [title]="'::INFO_DisplayName' | abpLocalization">{{'::DisplayName'|abpLocalization}}</label><span> * </span>
                <input type="text" id="product-displayName" class="form-control"
                    formControlName="displayName" />
            </div>

            <div class="form-group mb-2">
                <label for="product-description" [title]="'::INFO_Description' | abpLocalization">{{'::Description'|abpLocalization}}</label>
                <textarea type="text" id="product-description" class="form-control"
                    formControlName="description"></textarea>
            </div>

            <div class="form-group mb-2">
                <label for="product-family" [title]="'::INFO_ProductFamily' | abpLocalization">{{'::LABEL_ProductFamily'|abpLocalization}}</label>
                <ng-select [items]="productFamilies" appendTo="body" bindValue="id" bindLabel="displayName" formControlName="productFamilyId">
                    <ng-template ng-label-tmp let-item="item">
                        {{ item.displayName || item.name }}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                        {{ item.displayName || item.name }}
                    </ng-template>
                </ng-select>
            </div>

            <div class="form-group mb-2">
                <label for="product-series" [title]="'::INFO_ProductSeries' | abpLocalization">{{'::LABEL_ProductSerie'|abpLocalization}}</label>
                <ng-select [items]="productSeries" appendTo="body" bindValue="id" bindLabel="displayName" formControlName="productSerieId">
                    <ng-template ng-label-tmp let-item="item">
                        {{ item.displayName || item.name }}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                        {{ item.displayName || item.name }}
                    </ng-template>
                </ng-select>
            </div>

        </form>
        <div *ngIf="!form" class="text-center"><i class="fa fa-pulse fa-spinner" aria-hidden="true"></i></div>
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-outline-primary" abpClose>
            {{ 'AbpIdentity::Cancel' | abpLocalization }}
        </button>
        <abp-button iconClass="fa fa-check" [disabled]="form?.invalid" (click)="save()">{{
            'AbpIdentity::Save' | abpLocalization
            }}</abp-button>
    </ng-template>
</abp-modal>
<abp-modal [(visible)]="isImportDetailsVisible" [options]="{size: 'lg'}">
    <ng-template #abpHeader>
    </ng-template>
    <ng-template #abpBody>
        <app-modeling-import-detail [items]="importResult"></app-modeling-import-detail>
    </ng-template>
    <ng-template #abpFooter>
        <button type="button" class="btn btn-outline-primary" abpClose>
            {{ 'AbpIdentity::Close' | abpLocalization }}
        </button>
    </ng-template>
</abp-modal>

<app-history-modal
    *ngIf="isHistoryModalVisible"
    [(isHistoryModalVisible)]="isHistoryModalVisible"
    [historys]="historys">
</app-history-modal>

<app-import-confirm
    *ngIf="importConfirmVisible"
    [(importConfirmVisible)]="importConfirmVisible"
    [existingData]="existingData"
    [objectType]="'Products'"
    (customeImport)="customeImport($event)">
</app-import-confirm>
