<abp-page class="widget-page">
    <abp-page-title-container class="col text-start p-0">
        <h5 *ngIf="!selected.extraProperties?.hideTitle">{{ selected.name | abpLocalization }}</h5>
    </abp-page-title-container>
    <abp-page-toolbar-container class="col p-0 widget-toolbar">
        <div class="text-end mb-2">
            <span class="me-2 cursor-pointer" (click)="toggleView()" *abpPermission="'Comment.Edit'">
                <i [class]="listView ? 'fa fa-table': 'fa fa-list'" class="fa-lg"></i>
            </span>
            @if (currentShift) {
            <span class="me-2 cursor-pointer" (click)="add()" *abpPermission="'Comment.Create'">
                <i class="fa fa-plus fa-lg"></i>
            </span>
            }
            @if (!queryId) {
            <span class="me-2 cursor-pointer" (click)="deleteShiftCommentWidget()" *abpPermission="'Dashboard.Update'">
                <i class="fa fa-trash fa-lg"></i>
            </span>
            }
            <span class="me-2 cursor-pointer" (click)="expand()">
                @if (expandChart) {
                <i class="fa fa-compress fa-lg"></i>
                } @else {
                <i class="fa fa-expand fa-lg"></i>
                }
            </span>
            <span class="cursor-pointer" (click)="openSettings()" *abpPermission="'Comment.Edit'">
                <i class="fa fa-cog fa-lg" aria-hidden="true"></i>
            </span>
        </div>
    </abp-page-toolbar-container>
    <div class="h-100">
        <div class="input-group ps-2 pe-2">
            <input #searchInput type="search" class="form-control"
                [placeholder]="'AbpUi::PagerSearch' | abpLocalization" title="search"
                (change)="searchKeyword = $event.target.value;"
                (keydown.enter)="searchKeyword = $event.target.value;" />
            <button class="btn btn-primary" type="button" (click)="searchKeyword = $event.target.value;">
                <i class="fa fa-search"></i>
            </button>
        </div>
        <div class="d-flex align-items-center justify-content-center shift-comment-container">
            @if (noShiftParrernConfigedError) {
                <div class="alert alert-danger" role="alert">
                    {{ noShiftParrernConfigedError }}
                </div>
            } @else {
                @if (currentShiftInfoList.length < 2) {
                    <div class="loading-container">
                        <i class="fa fa-pulse fa-spinner me-2" aria-hidden="true"></i>
                        {{'AbpUi::LoadingWithThreeDot' | abpLocalization}}
                    </div>
                } @else {
                    @for (item of currentShiftInfoList; track $index) {
                    <div class="col-6 shift-comment-card">
                        <app-comment-entry
                            [shiftInfo]="item"
                            [expand]="expandChart"
                            [pageSizeFromSettings]="pageSize"
                            (editOrDeleteEvent)="editOrDelete($event)"
                            [searchKeyword]="searchKeyword"
                            [selectedDataTier]="selectedDataTier"
                            [listView]="listView">
                        </app-comment-entry>
                    </div>
                    }
                }
            }
    </div>
    </div>
    <div class="previous page-button cursor-pointer" *ngIf="currentShiftInfoList.length >= 2" (click)="goToPrevious()">
        <span><i class="fa fa-chevron-left"></i></span>
    </div>
    <div class="next page-button cursor-pointer"
        *ngIf="currentShiftInfoList.length >= 2 && !currentShiftInfoList[1]?.isCurrent" (click)="goToNext()">
        <span><i class="fa fa-chevron-right"></i></span>
    </div>
</abp-page>

<app-add-comment-data *ngIf="isModalVisible" [selectedComment]="selectedComment" [areaData]="areaData"
    [currentShift]="currentShift" [showInterval]="false" [openModal]="isModalVisible" (closeEvent)="closeAddModal()"
    (refreshList)="refreshTableList()"></app-add-comment-data>

<abp-modal [(visible)]="isSettingsModalVisible">
    <ng-template #abpHeader>
        <h3>{{ 'AbpSettingManagement::Settings' | abpLocalization }}</h3>
    </ng-template>
    <ng-template #abpBody>
        <div class="form-group mb-2">
            <label for="widget-name" [title]="'::INFO_Name' | abpLocalization">{{'::Name'|abpLocalization}}</label>
            <input type="text" id="widget-name" class="form-control" [(ngModel)]="widgetTitle" autofocus />
        </div>
        <div class="form-group mb-2">
            <div class="d-flex">
                <label class="col-form-label text-start" [title]="'::INFO_HideTitle' | abpLocalization">
                    {{ '::Label_HideTitle' | abpLocalization }}
                </label>
                <div class="col-form-label ms-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="role-hide-title" [(ngModel)]="hideTitle" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="pageSize"
                [title]="'::INFO_DisplayRowCount' | abpLocalization">{{'::LABEL_DisplayRowCount'|abpLocalization}}</label>
            <input type="number" id="pageSize" class="form-control" [(ngModel)]="pageSize" />
        </div>
    </ng-template>
    <ng-template #abpFooter>
        <button type="button" class="btn btn-outline-primary" abpClose>
            {{ 'AbpIdentity::Cancel' | abpLocalization }}
        </button>
        <abp-button iconClass="fa fa-check" [disabled]="[null, 0].includes(pageSize) || widgetTitle === ''"
            (click)="saveSettings()">
            {{ 'AbpIdentity::Save' | abpLocalization }}
        </abp-button>
    </ng-template>
</abp-modal>
