.accordion-header {
    button {
        font-weight: bold;
        padding: 15px 0;
    }

    button[aria-expanded="true"] {
        border: none;
        border-bottom: 1px 0 1px 0 solid var(--lpx-border-color) !important;
    }
}

.accordion-item {
    border: none;
    border-top: 1px solid var(--lpx-border-color) !important;
}

::ng-deep.confirmation .confirmation-dialog .content .message {
    overflow-wrap: break-word !important;
}

.header-width {
    width: calc(100% - 40px);
}