<app-modeling-template [title]="'::Cells'" [data]="data" [objectType]="'Cell'"
    [permissions]="{create: 'Cell.Create', edit: 'Cell.Edit', delete: 'Cell.Delete', copy: 'Cell.Copy', import: 'Cell.Import', export: 'Cell.Export'}" [copyPrefix]="'::LABEL_NewCell'"
    [columns]="[{displayKey:'::Name', field: 'name'},{displayKey:'::Description', field: 'description'},{displayKey:'::DisplayName', field: 'displayName'},{displayKey:'::Area', field: 'area', altField: 'areaName'}]"
    [toolbarButtons]="{move: true}" [list]="list" [hasLastUpdate]="true" (copyData)="copy($event, edit.bind(this))"
    (multiDelete)="multiDelete($event)" (dataAdd)="add()" (dataEdit)="edit($event)" (dataDelete)="delete($event)"
    (export)="export($event)" (exportAll)="exportAll($event)"  (import)="import($event)" (dataViewHistory)="viewHistory($event)"
    (moveData)="move($event)" (filterChange)="searchByfilter($event)" filterType="Master" [placeholder]="'::LABEL_SearchName' | abpLocalization">
</app-modeling-template>

<abp-modal [(visible)]="isModalVisible" [busy]="modalBusy">
    <ng-template #abpHeader>
        <h3>{{ (selected?.id ? '::Edit' : '::Create') | abpLocalization }}</h3>
    </ng-template>

    <ng-template #abpBody>
        @if (form) {
        <form [formGroup]="form" (ngSubmit)="save()">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                    <div class="form-group mb-2">
                        <label for="cells-name" [title]="'::INFO_Name' | abpLocalization">{{'::Name'|abpLocalization}}</label><span> * </span>
                        <input type="text" id="cells-name" class="form-control" formControlName="name" autofocus
                            (input)="form.controls['displayName'].setValue($event.target.value)" />
                    </div>
                    <div class="form-group mb-2">
                        <label for="cells-displayName" [title]="'::INFO_DisplayName' | abpLocalization">{{'::DisplayName'|abpLocalization}}</label><span> * </span>
                        <input type="text" id="cells-displayName" class="form-control" formControlName="displayName" />
                    </div>
                    <div class="form-group mb-2">
                        <label for="cells-description" [title]="'::INFO_Description' | abpLocalization">{{'::Description'|abpLocalization}}</label>
                        <input type="text" id="cells-description" class="form-control" formControlName="description" />
                    </div>
                    <div class="form-group">
                        <label for="cells-area" [title]="'::INFO_Area' | abpLocalization">{{ '::Area'|abpLocalization}}</label><span> * </span>
                        <ng-select
                        id="cells-area"
                        [items]="areaData"
                        appendTo="body"
                        bindValue="id"
                        bindLabel="displayName"
                        [typeahead]="areaInput$"
                        [placeholder]="'::LABEL_ShowingTopTen' | abpLocalization"
                        formControlName="area">
                        <ng-template ng-option-tmp let-item="item">
                          {{item.displayName}}
                        </ng-template>
                        <ng-template ng-label-tmp let-item="item">
                          {{ item.displayName }}
                        </ng-template>
                      </ng-select>
                    </div>
                </div>
            </div>
        </form>
        } @else {
        <div class="text-center"><i class="fa fa-pulse fa-spinner" aria-hidden="true"></i></div>
        }
    </ng-template>

    <ng-template #abpFooter>
        <button type="button" class="btn btn-outline-primary" abpClose>
            {{ 'AbpIdentity::Cancel' | abpLocalization }}
        </button>
        <abp-button iconClass="fa fa-check" [disabled]="form?.invalid" (click)="save()">
            {{ 'AbpIdentity::Save' | abpLocalization }}
        </abp-button>
    </ng-template>
</abp-modal>

<abp-modal [(visible)]="isMoveModalVisible">
    <ng-template #abpHeader>
        <h3>{{ '::Move' | abpLocalization }} {{ '::Area' | abpLocalization }}</h3>
    </ng-template>
    <ng-template #abpBody>
        <div>
            {{ selectedCellsIdList.length }} {{ '::Label_MoveToArea' | abpLocalization }}
        </div>
        <div class="form-group pt-2">
            <label for="area">{{'::LABEL_NewArea'|abpLocalization}}</label>
            <ng-select
            id="area"
            [items]="areaData"
            appendTo="body"
            bindValue="id"
            bindLabel="displayName"
            [typeahead]="areaInput$"
            [placeholder]="'::LABEL_ShowingTopTen' | abpLocalization"
            [(ngModel)]="moveToArea">
            <ng-template ng-option-tmp let-item="item">
              {{item.displayName }}
            </ng-template>
            <ng-template ng-label-tmp let-item="item">
              {{ item.displayName }}
            </ng-template>
          </ng-select>
        </div>
    </ng-template>
    <ng-template #abpFooter>
        <button type="button" class="btn btn-outline-primary" abpClose>
            {{ 'AbpIdentity::Cancel' | abpLocalization }}
        </button>
        <abp-button iconClass="fa fa-check" [disabled]="[null, ''].includes(moveToArea)" (click)="moveToNewArea()">
            {{ 'AbpIdentity::Save' | abpLocalization }}
        </abp-button>
    </ng-template>
</abp-modal>

<abp-modal [(visible)]="isImportDetailsVisible" [options]="{size: 'lg'}">
    <ng-template #abpHeader>
    </ng-template>
    <ng-template #abpBody>
      <app-modeling-import-detail [items]="importResult"></app-modeling-import-detail>
    </ng-template>
    <ng-template #abpFooter>
      <button type="button" class="btn btn-outline-primary" abpClose>
        {{ 'AbpIdentity::Close' | abpLocalization }}
      </button>
    </ng-template>
</abp-modal>

<app-history-modal
    *ngIf="isHistoryModalVisible"
    [(isHistoryModalVisible)]="isHistoryModalVisible"
    [historys]="historys">
</app-history-modal>

<app-import-confirm
    *ngIf="importConfirmVisible"
    [(importConfirmVisible)]="importConfirmVisible"
    [existingData]="existingData"
    [objectType]="'Cell'"
    (customeImport)="customeImport($event)">
</app-import-confirm>
