<section class="about-section">
  <div class="content">
    <h1 class="title">Contractor Registration</h1>
    <div class="divider"></div>
    <p class="description" style="font-size: x-large; font-weight: bold;">
      Contractor & Vendor Management
    </p>
    <p class="description" style="font-size: larger; font-weight: 500;">
      Register to Work On-Site
    </p>
    <p class="description">
      Register your company and team with all necessary details, including work permits, safety certifications, and employee information.
      <br>
      Our system ensures compliance and helps efficiently manage contractor activities during their time on-site.
    </p>
    <button class="read-more-button" onclick="add()">
      <span>Register</span>
      <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12.53 6.53a.75.75 0 0 0 0-1.06L7.757.697a.75.75 0 1 0-1.06 1.06L10.939 6l-4.242 4.243a.75.75 0 0 0 1.06 1.06zM0 6v.75h12v-1.5H0z"
          fill="#fff"
        />
      </svg>
    </button>
  </div>
  <div class="image-container">
    <img
      class="main-image"
      src="./assets/images/vms/contructor.jpg"
      alt=""
    />
  </div>
</section>