<nav class="navbar">
    <a href="#/visit-management" class="logo" style="text-decoration: none; color: #ea0437; font-size: 3rem; font-weight: 1000;">
        molex
    </a>

    <ul class="desktop-menu">
        <li><a class="nav-link" href="#/visit-management">Home</a></li>
        <li><a class="nav-link" href="#/traveling-guide">Travel Guide</a></li>
    </ul>

    <button type="button" class="get-started-btn desktop-btn">
        Log in
    </button>

    <button aria-label="menu-btn" type="button" class="menu-btn" (click)="toggleMobileMenu()">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="#000">
            <path
                d="M 3 7 A 1.0001 1.0001 0 1 0 3 9 L 27 9 A 1.0001 1.0001 0 1 0 27 7 L 3 7 z M 3 14 A 1.0001 1.0001 0 1 0 3 16 L 27 16 A 1.0001 1.0001 0 1 0 27 14 L 3 14 z M 3 21 A 1.0001 1.0001 0 1 0 3 23 L 27 23 A 1.0001 1.0001 0 1 0 27 21 L 3 21 z">
            </path>
        </svg>
    </button>

    <div class="mobile-menu" *ngIf="isMobileMenuOpen">
        <ul class="mobile-menu-list">
            <li><a class="nav-link" href="#">Home</a></li>
            <li><a class="nav-link" href="#">Travel Guide</a></li>
        </ul>

        <button type="button" class="get-started-btn mobile-btn">
            Log in
        </button>
    </div>
</nav>