<form [formGroup]="guestForm" (ngSubmit)="onSubmit()" #formTop>
    <h2>Guest Information</h2>

    <div class="form-row">
        <div class="form-group">
            <label for="fullName">Full Name<span> * </span></label>
            <input type="text" id="fullName" formControlName="fullName" required>
        </div>
        <div class="form-group">
            <label for="company">Company<span> * </span></label>
            <input type="text" id="company" formControlName="company" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="title">Title<span> * </span></label>
            <input type="text" id="title" formControlName="title" required>
        </div>
        <div class="form-group">
            <label for="purpose">Purpose<span> * </span></label>
            <input type="text" id="purpose" formControlName="purpose" required>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group">
            <label for="workWithWhomInMolex">Work With Whom In Molex<span> * </span></label>
            <input type="text" id="workWithWhomInMolex" formControlName="workWithWhomInMolex" required>
        </div>
    </div>
    <div formArrayName="flightInfos">
        <div *ngFor="let flight of flightInfos.controls; let i=index" [formGroupName]="i">
            <div class="form-group full-width">
                <p>{{ i === 0 ? 'Arrival Flight' : 'Departure Flight' }}</p>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="date-{{i}}">Date<span> * </span></label>
                    <input type="date" id="date-{{i}}" formControlName="date" required>
                </div>
                <div class="form-group">
                    <label for="no-{{i}}">Flight No<span> * </span></label>
                    <input type="text" id="no-{{i}}" formControlName="no" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label for="route-{{i}}">Flight Route<span> * </span></label>
                    <input type="text" id="route-{{i}}" formControlName="route" required>
                </div>
                <div class="form-group">
                    <label for="time-{{i}}">Time<span> * </span></label>
                    <input type="time" id="time-{{i}}" formControlName="time" required>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group full-width">
        <p>Do you need support to book Hotel? If yes, please select a hotel or advise hotel name and room type</p>
        <label for="isHotelSupport">Hotel Support<span> * </span></label>
        <select formControlName="isHotelSupport" id="isHotelSupport">
            <option value="" disabled selected>Choose an option</option>
            <option [ngValue]="true">Yes</option>
            <option [ngValue]="false">No</option>
        </select>
    </div>
    <div *ngIf="guestForm.get('isHotelSupport').value">
        <div class="form-group full-width">
            <label for="hotelId">Hotel</label>
            <select formControlName="hotelId" id="hotelId">
                <option value="" disabled selected>Select a hotel</option>
                <option *ngFor="let hotel of hotels" [value]="hotel.id">{{ hotel.name }} ~ {{ hotel.room}}</option>
            </select>
        </div>
    
        <div class="form-row">
            <div class="form-group">
                <label for="hotelName">Hotel Name</label>
                <input type="text" id="hotelName" formControlName="hotelName">
            </div>
            <div class="form-group">
                <label for="roomType">Room Type</label>
                <input type="text" id="roomType" formControlName="roomType">
            </div>
        </div>
    </div>
    <div class="form-group full-width">
        <p>Do you have any food restriction? If yes, please give the detail</p>
        <label for="isFoodRestrict">Food Restriction<span> * </span></label>
        <select formControlName="isFoodRestrict" id="isFoodRestrict">
            <option value="" disabled selected>Choose an option</option>
            <option [ngValue]="true">Yes</option>
            <option [ngValue]="false">No</option>
        </select>
    </div>
    <div *ngIf="guestForm.get('isFoodRestrict').value">
        <div class="form-group full-width">
            <label for="foodRestrictDetail">Food Restriction Detail<span> * </span></label>
            <textarea id="foodRestrictDetail" formControlName="foodRestrictDetail"></textarea>
        </div>
    </div>
    <div formGroupName="transportInfo">
        <div class="form-group full-width">
            <p>Do you need transportation Airport pick up & drop off?</p>
            <label for="isAirportTransport">Airport Transportation<span> * </span></label>
            <select formControlName="isAirportTransport" id="isAirportTransport">
                <option value="" disabled selected>Choose an option</option>
                <option [ngValue]="true">Yes</option>
                <option [ngValue]="false">No</option>
            </select>
        </div>
        <div class="form-group full-width">
            <p>Do you need daily transporation? If yes, please show detail time, route and address</p>
            <label for="isDailyTransport">Daily Transportation<span> * </span></label>
            <select formControlName="isDailyTransport" id="isDailyTransport">
                <option value="" disabled selected>Choose an option</option>
                <option [ngValue]="true">Yes</option>
                <option [ngValue]="false">No</option>
            </select>
        </div>
        <div *ngIf="guestForm.get('transportInfo.isDailyTransport').value">
            <div class="form-group full-width">
                <label for="time">Time<span> * </span></label>
                <input type="time" id="time" formControlName="time">
            </div>
            <div class="form-group full-width">
                <label for="route">Route<span> * </span></label>
                <input type="text" id="route" formControlName="route">
            </div>
            <div class="form-group full-width">
                <label for="address">Address<span> * </span></label>
                <input type="text" id="address" formControlName="address">
            </div>
        </div>
    </div>
    <div formGroupName="uniformInfo">
            <div class="form-group full-width">
            <p>Do you need to enter factory? If yes, please provide camera cover number, card and uniform type</p>
            <label for="isVisitFactory">Entering Factory<span> * </span></label>
            <select formControlName="isVisitFactory" id="isVisitFactory">
                <option value="" disabled selected>Choose an option</option>
                <option [ngValue]="true">Yes</option>
                <option [ngValue]="false">No</option>
            </select>
        </div>
        <div *ngIf="guestForm.get('uniformInfo.isVisitFactory').value">
            <div class="form-row">
                <div class="form-group">
                    <label for="cameraCover">Camera Cover<span> * </span></label>
                    <input type="number" id="cameraCover" formControlName="cameraCover">
                </div>
                <div class="form-group">
                    <label for="cardType">Card Type<span> * </span></label>
                    <select formControlName="cardType" id="cardType">
                        <option value="" disabled selected>Choose an option</option>
                        <option [ngValue]="0">Blue</option>
                        <option [ngValue]="1">Red - For Entering Factory</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="uniformType">Uniform Type<span> * </span></label>
                    <select formControlName="uniformType" id="uniformType">
                        <option value="" disabled selected>Choose an option</option>
                        <option [ngValue]="0">Green</option>
                        <option [ngValue]="1">Orange - For Leaderboard</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group full-width">
        <label for="otherRequest">Other request</label>
        <textarea id="otherRequest" formControlName="otherRequest"></textarea>
    </div>

    <abp-button style="padding-top: 20px;" (click)="onSubmit()" type="submit" [disabled]="guestForm.invalid || isSubmitting">
        Submit
    </abp-button>
</form>