<app-modeling-template [title]="'::Work Permit Request'" [data]="data" [objectType]="'ContractorRequest'"
    [permissions]="{view: 'ContractorRequest.View', updateStatus: 'ContractorRequest.UpdateStatus', list: 'ContractorRequest.List'}"
    [columns]="[{displayKey:'::Contractor Name', field: 'contractorName'},{displayKey:'::Work Permit', field: 'workPermitCode'},{displayKey:'::Working Area', field: 'workingArea'},{displayKey:'::PIC Status', field: 'molexSupervisorApproveStatusText'},{displayKey:'::EHS Status', field: 'ehsApproveStatusText'}]"
    [list]="list" [hasLastUpdate]="false"
    [columnActions]="[{ displayKey: '::ViewDetails', permission: 'ContractorRequest.View', func: view ,parent:this}]"
    (filterChange)="searchByfilter($event)" filterType="Master" [placeholder]="'::Search by Contractor Name' | abpLocalization">
</app-modeling-template>

<abp-modal [(visible)]="isModalVisible" [options]="{size: 'xl'}">
    <ng-template #abpHeader>
        <div class="d-flex justify-content-between align-items-center w-100">
            <h3 class="m-0">{{'::Contractor Request' | abpLocalization }}</h3>
            <div>
                <button type="button" class="btn btn-outline-primary btn-sm me-1" (click)="isCollapse = false;">
                    {{'::LABEL_ExpandAll' | abpLocalization}}
                </button>
                <button type="button" class="btn btn-outline-primary btn-sm" (click)="isCollapse = true;">
                    {{'::LABEL_CollapseAll' | abpLocalization}}
                </button>
            </div>
        </div>
    </ng-template>

    <ng-template #abpBody>
        <div class="accordion" id="accordionExample">
            <div class="accordion accordion-flush">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                            [class.collapsed]="isCollapse">
                            {{ '::LABEL_General' | abpLocalization }}
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" [class.show]="!isCollapse">
                        <div class="accordion-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <p><strong>{{ '::Contractor Name' | abpLocalization }}:</strong> {{ selected?.contractorName }}</p>
                                    <p><strong>{{ '::Request Type' | abpLocalization }}:</strong> {{ selected?.requestType ? 'Extend old work permit/Add person' : 'Apply for a new work permit' }}</p>
                                    
                                    <ng-container *ngIf="!selected?.requestType">
                                        <p><strong>{{ '::From' | abpLocalization }}:</strong> {{ selected?.startDate | date:'dd/MM/yyyy' }}</p>
                                        <p><strong>{{ '::To' | abpLocalization }}:</strong> {{ selected?.endDate | date:'dd/MM/yyyy' }}</p>
                                        <p><strong>{{ '::Molex PIC' | abpLocalization }}:</strong> {{ selected?.molexSupervisorName }}</p>
                                        <p><strong>{{ '::Contractor PIC Name' | abpLocalization }}:</strong> {{ selected?.contractorSupervisorName }}</p>
                                        <p><strong>{{ '::Contractor PIC Phone' | abpLocalization }}:</strong> {{ selected?.contractorSupervisorPhone }}</p>
                                        <p><strong>{{ '::Working Area' | abpLocalization }}:</strong> {{ selected?.workingArea }}</p>
                                        <p><strong>{{ '::Work Description' | abpLocalization }}:</strong> {{ selected?.workDescription }}</p>
                                        <div *ngFor="let jobType of selected?.selections | groupBy:'jobTypeId'">
                                            <p><strong>{{ '::Job Type' | abpLocalization }}:</strong> {{ jobType[0]?.jobTypeName }}</p>
                                            <div *ngFor="let section of jobType | groupBy:'jobSectionId'">
                                                <p>{{ section[0]?.jobSectionName }}</p>
                                                <ul>
                                                    <li *ngFor="let option of section">
                                                        {{ option?.jobOptionName }}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div *ngFor="let textField of selected?.textFieldValues">
                                            <p><strong>{{ textField?.textField }}:</strong> {{ textField?.value }}</p>
                                        </div>
                                    </ng-container>
                                    <ng-container *ngIf="selected?.requestType">
                                        <p><strong>{{ '::To' | abpLocalization }}:</strong> {{ selected?.endDate | date:'dd/MM/yyyy' }}</p>
                                        <p><strong>{{ '::Old Work Permit' | abpLocalization }}:</strong> {{ selected?.oldWorkPermitCode }}</p>
                                    </ng-container>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo"
                            [class.collapsed]="isCollapse">
                            {{ '::Employee List' | abpLocalization }}
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" [class.show]="!isCollapse">
                        <div class="accordion-body">
                            <div class="row">
                                <div>
                                    <div *ngIf="employeeListFiles.length === 0">
                                        <table class="table table-bordered table-sm mt-3" *ngIf="selected.employeeLists?.length > 0">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Full Name</th>
                                                    <th>Date of Birth</th>
                                                    <th>Company</th>
                                                    <th>Passport</th>
                                                    <th>Management Department</th>
                                                    <th>Molex Supervisor</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let emp of selected.employeeLists; let i = index">
                                                    <td>{{ i + 1 }}</td>
                                                    <td>{{ emp.fullName }}</td>
                                                    <td>{{ emp.dateOfBirth }}</td>
                                                    <td>{{ emp.company }}</td>
                                                    <td>{{ emp.passport }}</td>
                                                    <td>{{ emp.managementDepartment }}</td>
                                                    <td>{{ emp.molexSupervisor }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="file-container" *ngFor="let file of employeeListFiles">
                                        <div *ngIf="file.loading">
                                        <i class="fa fa-pulse fa-spinner me-2" aria-hidden="true"></i>{{ '::LoadingWithThreeDot' | abpLocalization }}
                                        </div>
                                        <div *ngIf="!file.loading">
                                        <img
                                            *ngIf="file.isImage"
                                            [src]="file.mediaAccessUrl"
                                            alt="{{ file.fileName }}"
                                            class="cursor-pointer file-image"
                                            (click)="getPreviewImage(file.fileUrl)"
                                        />
                                        <a *ngIf="!file.isImage" [href]="file.mediaAccessUrl" [download]="file.fileName">
                                            {{ file.fileName }}
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"
                            [class.collapsed]="isCollapse">
                            {{ '::Documents' | abpLocalization }}
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" [class.show]="!isCollapse">
                        <div class="accordion-body">
                            <div class="row">
                                <div *ngIf="documentFiles.length === 0">{{ '::NoFilesAvailable' | abpLocalization }}</div>
                                <div class="col-md-4" *ngFor="let file of documentFiles">
                                    <div *ngIf="file.loading">
                                        <i class="fa fa-pulse fa-spinner me-2" aria-hidden="true"></i>{{ '::LoadingWithThreeDot' | abpLocalization }}
                                    </div>
                                    <div *ngIf="!file.loading" style="display: flex; flex-direction: column;">
                                        <img *ngIf="file.isImage" [src]="file.mediaAccessUrl" alt="{{ file.fileName }}"
                                            class="cursor-pointer file-image" style="width: auto; max-height: 200px;"/>
                                        <a [href]="file.mediaAccessUrl" [download]="file.fileName">
                                            {{ file.fileName }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #abpFooter *ngIf="selected?.molexSupervisorApproveStatus === 0">
        <button type="button" class="btn btn-outline-primary" (click)="reject(selected)">
        {{ 'AbpIdentity::Reject' | abpLocalization }}
        </button>
        <abp-button (click)="approve(selected)">{{
        'AbpIdentity::Approve' | abpLocalization
        }}</abp-button>
    </ng-template>
</abp-modal>
