<footer class="footer">
  <div class="footer__content">
    <div class="footer__logo">
      <a href="#/visit-management" class="logo" style="text-decoration: none; color: #ea0437; font-size: 3rem; font-weight: 1000;">
        molex
    </a>
    </div>
    <p class="footer__description">
      Molex® is a registered trademark of Molex, LLC in the United States of America and may be registered in other countries; all other trademarks listed herein belong to their respective owners.
    </p>
  </div>
  <div class="footer__bottom">
    <div class="footer__copyright">
      <a href="#/visit-management" class="logo" style="text-decoration: none; color: #2d3748;">
        molex
    </a> ©2025. All rights reserved.
    </div>
  </div>
</footer>